version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
parameter_overrides=[
    "InstanceType=__REPLACE_ME__t3.medium",
    "KeyName=__REPLACE_ME__",
    "ImageId=__REPLACE_ME__ami-089950bc622d39ed8",
    "AwsChatbotStackName=__REPLACE_ME__",
]
